@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>TencentCos Demo</h1>
    <p>
        This webapp demonstrates the Myvas.AspNetCore.TencentCos.
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Github</h2>
        <p class="text-break"><a href="https://github.com/Myvas/TencentCos">https://github.com/Myvas/TencentCos</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nuget</h2>
        <p class="text-break"><a href="https://www.nuget.org/packages/Myvas.AspNetCore.TencentCos">https://www.nuget.org/packages/Myvas.AspNetCore.TencentCos</a></p>
    </div>
    <div class="col-md-4">
        <h2>API docs</h2>
        <p class="text-break"><a href="https://cloud.tencent.com/document/product/436/10111">https://cloud.tencent.com/document/product/436/10111</a></p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Settings</h2>
        <p>
            ConfigureServices
<pre class="bg-light p-3 rounded">
services.AddTencentCos(options =>
{
    options.SecretId = Configuration["TencentCos:SecretId"];
    options.SecretKey = Configuration["TencentCos:SecretKey"];
});
</pre>
        </p>
        <p>
            XxxController
            <pre class="bg-light p-3 rounded">
private readonly ITencentCosHandler _cosHandler;

public XxxController(ITencentCosHandler cosHandler)
{
    _cosHandler = cosHandler ?? throw new ArgumentNullException(nameof(cosHandler));
}

public async Task<IActionResult> AllBuckets()
{
    var buckets = await _cosHandler.AllBucketsAsync();
    return View(buckets);
}
</pre>
        </p>
    </div>
</div>

<div class="version">@("v" + typeof(Startup).Assembly.GetName().Version.ToString(3))</div>